{% extends "blog/base.html" %}

{% block title %} About Page {% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="mt-5">This is a Blog Project site!!</h1>
            <h3>You can create an account and write, update, delete your blogs!</h3>
            <h6 class="mt-5 ms-auto d-flex justify-content-center align-items-center">
                <a class="btn btn-primary" href="{% url 'register'%}">Register here</a>
            </h6>
        </div>
    </div>
</div>
{% endblock content %}